button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: var(--bright-blue);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--electric-violet);
}